{% extends 'geo/layouts/base.html' %} {% block title %} Profile {% endblock title %} {% block stylesheets %}
<script crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/static/assets/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" />
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/static/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/assets/js/date-time.js"></script>
{% endblock stylesheets %}{% block content %}

<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url({{details.image}}); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">{{ details.name }}</h1>
                <p class="text-white mt-0 mb-5">
                    {{ details.name }} was admitted on {{details.dateOfAdmission}} for having {{details.admittedFor}}. You can see his live tracking and other details below.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="#">
                                <img src="{{details.image}}" style="height: 200px; width: 200px" class="rounded-circle" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-body pt-0 pt-md-4">

                    <div class="text-center" style="padding-top: 150px">
                        <h3>{{ details.name }}</h3>
                        <div class="h5 font-weight-300">
                            Admitted for
                            <span class="badge badge-dot">
                <i class="bg-warning"></i> {{details.admittedFor}}
              </span>
                        </div>
                        <div class="h5 font-weight-300">
                            Admitted on {{details.dateOfAdmission}}
                        </div>
                        <div class="h5 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>Ward Number : {{details.wardNumber}}
                        </div>
                        <div>
                            <i class="ni education_hat mr-2"></i>Jaslok Hospital and Research Centre
                        </div>
                        <hr class="my-4" /> {% if breachTime is None %}
                        <p>This patient has never breached the system</p>
                        {% endif %} {% if breachTime %}
                        <p>This patient breached last at {{breachTime}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Live User Tracking</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="mapid" class="map-canvas" style="height: 600px"></div>
                </div>
            </div>
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="column align-items-center">
                        <h3 class="mb-0">User History</h3>
                        <form action="#" method="">
                            <div class="row justify-content-end">
                                <div class="form-group col-4">
                                    <label for="id_start_datetime">Start Date-Time:</label>
                                    <div class="input-group date" id="id_0">
                                        <input type="text" value="" class="form-control" id="startdate" required/>
                                        <div class="input-group-addon input-group-append">
                                            <div class="input-group-text">
                                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-4">
                                    <label for="id_start_datetime">End Date-Time:</label>
                                    <div class="input-group date" id="id_1">
                                        <input type="text" value="" class="form-control" id="enddate" required/>
                                        <div class="input-group-addon input-group-append">
                                            <div class="input-group-text">
                                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-3 d-flex align-items-end">
                                    <button type="button" class="btn btn-outline-success " role="button" id="historybtn" aria-pressed="true">Show History</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div id="maphistoryid" class="map-canvas" style="height: 600px"></div>
                </div>
            </div>
        </div>
    </div>

    {% include "geo/includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-firestore.js"></script>
<script src="../../static/assets/js/init-firebase.js"></script>
<script type="text/javascript" src="/static/assets/js/Polyline.Snake.js"></script>
<script>
    var bounds = [
        [0, 0],
        [1000, 1000],
    ];
    var floor0 = L.imageOverlay("/static/assets/img/maps/floorplandev.PNG", bounds),
        floor1 = L.imageOverlay("/static/assets/img/maps/floorplan1.jpg", bounds),
        floor2 = L.imageOverlay("/static/assets/img/maps/floorplan2.jpg", bounds),
        map = L.map("mapid", {
            minZoom: -5,
            maxZoom: 4,
            zoom: -5,
            crs: L.CRS.Simple,
            scrollWheelZoom: false,
            layers: floor0,

        });

    map.invalidateSize();

    map.fitBounds(bounds);

    var markers = {};
    var firestore = firebase.firestore();
    var patientId = "{{ details.patientId }}";

    setInterval(() => {
        var docRefPatient = firestore.collection("active_patients").doc(patientId);
        docRefPatient
            .get()
            .then(function(doc) {
                var patientData = doc.data();
                var docRefDevice = firestore
                    .collection("active_device")
                    .doc(patientData["deviceId"]);

                docRefDevice
                    .get()
                    .then(function(dev) {
                        var deviceData = dev.data();
                        if (markers[patientData["deviceId"]] == undefined) {
                            markers[patientData["deviceId"]] = L.marker([
                                deviceData["currentX"],
                                deviceData["currentY"],
                            ]).addTo(map);

                            markers[patientData["deviceId"]].bindPopup(`
              <img src="${patientData["image"]}" style="height:25% ; width:25%">
              <h1> ${patientData["name"]} <\h1>
              `);

                            if (deviceData["currentFloor"] == 0) {
                                floor0.addTo(map);
                            } else if (deviceData["currentFloor"] == 1) {
                                floor1.addTo(map);
                            } else {
                                floor2.addTo(map);
                            }
                        }

                        if (deviceData["currentFloor"] == 0) {
                            map.removeLayer(floor1);
                            map.removeLayer(floor2);
                            floor0.addTo(map);
                        } else if (deviceData["currentFloor"] == 1) {
                            map.removeLayer(floor0);
                            map.removeLayer(floor2);
                            floor1.addTo(map);
                        } else {
                            map.removeLayer(floor1);
                            map.removeLayer(floor0);
                            floor2.addTo(map);
                        }

                        markers[patientData["deviceId"]].slideTo(
                            [deviceData["currentX"], deviceData["currentY"]], {
                                duration: 1000,
                            }
                        );

                    })
                    .catch((error) => {
                        console.log("There is an error: " + error);
                    });
            })
            .catch((error) => {
                console.log("There is an error: " + error);
            });
    }, 1000);

    /*

-------------------------------------------------------------------------------------
USER HISTORY JAVA SCRIPT
-------------------------------------------------------------------------------------
    
*/


    var floorhis0 = L.imageOverlay("/static/assets/img/maps/floorplandev.PNG", bounds),
        floorhis1 = L.imageOverlay("/static/assets/img/maps/floorplan1.jpg", bounds),
        floorhis2 = L.imageOverlay("/static/assets/img/maps/floorplan2.jpg", bounds),
        maphis = L.map("maphistoryid", {
            minZoom: -5,
            maxZoom: 4,
            zoom: -5,
            crs: L.CRS.Simple,
            scrollWheelZoom: false,
            layers: floorhis2,
        });

    maphis.invalidateSize();
    maphis.fitBounds(bounds);

    var startToEnd = []

    var redIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });




    const historybtn = document.getElementById('historybtn')
    historybtn.addEventListener('click', (e) => {
        var docRefPatient = firestore.collection("active_patients").doc(patientId);
        docRefPatient.get().then(function(doc) {
            var patientData = doc.data();
            var start = new Date(startdate.value);
            var end = new Date(enddate.value);


            var docHistory = firestore.collection("active_device")
                .doc(patientData["deviceId"]).collection('locationHistory')
                .where('timestamp', '>=', start).where('timestamp', '<=', end)
                .get().then(function(querySnapshot) {
                    querySnapshot.forEach(function(doc) {
                        // doc.data() is never undefined
                        // for query doc snapshots
                        console.log('hello');
                        console.log(doc.id, " => ", doc.data()['X']);
                        startToEnd.push(
                            [doc.data()['X'], doc.data()['Y']]
                        );

                    });

                }).catch(function(error) {
                    console.log("Error getting documents: ", error);
                }).then(function() {
                    var route = L.layerGroup([
                        L.marker(startToEnd[0], {
                            icon: redIcon
                        }),
                        L.polyline(startToEnd, {
                            color: 'yellow',
                            weight: 3,
                            opacity: 0.5,
                            smoothFactor: 1,
                            snakingSpeed: 10
                        }),
                        L.marker(startToEnd[startToEnd.length - 1])
                    ], {
                        snakingPause: 200
                    });
                    route.addTo(maphis).snakeIn();
                });
        });
    });

    function checkfence(x, y) {
        // this function ensure that the provided x and y co-ordinates are inside or outside the fence area
        if (x > 100 && x < 890 && y > 0 && y < 310) {
            console.log("inside fence")

        } else if (x > 0 && x < 1000 && y > 310 && y < 550) {
            console.log("inside fence")

        } else if (x > 100 && x < 340 && y > 550 && y < 1000) {
            console.log("inside fence")

        } else if (x > 650 && x < 890 && y > 550 && y < 1000) {
            console.log("inside fence")
        } else {
            console.log("outside fence")
        }
    }

    map.on('click', function(e) {
        //provide X and Y coordinate onclick method devdutta do it  by yourself
        x = 660
        y = 660
        checkfence(x, y);
    });
</script>

{% endblock javascripts %}