[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
autopep8 = "*"
pycodestyle = "*"
pytz = "*"
sqlparse = "*"
dj-database-url = "*"
python-decouple = "*"
Django = "*"
Unipath = "*"

[dev-packages]

[requires]
python_version = "3.8"
